services: docker
language: bash

script:
    - SCRIPT=run_build_image.sh
    - curl -O https://raw.githubusercontent.com/cyber-dojo-languages/image_builder/master/${SCRIPT}
    - chmod +x ./${SCRIPT}
    - ./${SCRIPT} ${PWD}
    - ./check_version.sh
